---
---

<!DOCTYPE html>

<html>

<head>
	<title>{{ page.title }} – The 2nd Time Around</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/css/secondtime.css' | absolute_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<header>
		<a href="{{ '/' | absolute_url }}">
			<img src="{{ '/images/logo-white.png' | absolute_url }}" class="hide-mobile">
			<img src="{{ '/images/logo-black.png' | absolute_url }}" class="hide-desktop">
		</a>
		<label for="nav-toggle">Menu</label>
		<input id="nav-toggle" class="nav-toggle-chbx" type="checkbox">
		<nav>
			<ul class="nav-list">
				{% for entry in site.data.navigation %}
					<li><a href="{{ entry.url | prepend: '/' | absolute_url }}">{{ entry.name }}</a></li>
				{% endfor %}
				<li><label for="nav-toggle">Close Menu</label></li>
			</ul>
		</nav>
	</header>

	<main>
		<img class="header-img" src="{{ page.picture-file | prepend: '/images/' | absolute_url }}">
		{{ content }}
	</main>

	<footer>
		<div>
			<ul class="nav-list">
				<li><a href="{{ '/' | absolute_url }}">Home</a></li>
				{% for entry in site.data.navigation %}
					<li><a href="{{ entry.url | prepend: '/' | absolute_url }}">{{ entry.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<p>© 2021 The 2nd Time Around</p>
		</div>
	</footer>

</body>

</html>
